<div class="row">
  <div class="col-md-6">
    <% @recipes.each do |recipe| %>
      <h2><%= link_to recipe.title, recipe_path(recipe) %></h2>
      <p><%= recipe.description %></p>
      <small class="muted">by <%= recipe.user.email %></small>
    <% end %>
  </div>
</div>
